<!DOCTYPE html>

<html>
    <head>
        {{>imports}}
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{errorMsg}}
        </div>
        {{>footer}}       
    </body>
</html>