<!DOCTYPE html>

<html>
    <head>
        {{>imports}} 
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}  
            <img class="portrait" src="https://cdn.ebaumsworld.com/2021/01/27/125410/86569199/gamestop-wallstreetbets-memes-adds2.png">     
        </div>
        
        {{>footer}}       
    </body>
</html>