<!DOCTYPE html>

<html>
    <head>
        {{>imports}} 
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}  
            Use this site to get your weather!
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="msg1"></p>
            <p id="msg2"></p>
        </div>
        
        {{>footer}}       
    </body>
</html>